/* Generic elements */
html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/index/ricardo.jpg');
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/index/ricardo.jpg');
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/index/ricardo.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/index/ricardo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  color: white;

}

a:link {
  text-decoration: none;
  color: white;
  background-color: rgb(94, 90, 89);
  border: 1px solid white;
  font-size: 16pt;
  font-family: Optima, "Century Gothic", "Arial Narrow", sans-serif;
  padding: 10px;
}

a:visited {
  text-decoration: none;
  color: white;
  background-color: rgb(94, 90, 89);
  border: 1px solid white;
  font-size: 16pt;
  font-family: Optima, "Century Gothic", "Arial Narrow", sans-serif;
}

a:hover {
  text-decoration: none;
  color: rgb(225, 225, 255);
  background-color: rgb(124, 120, 119);
  border: 1px solid white;
  font-size: 16pt;
  font-family: Optima, "Century Gothic", "Arial Narrow", sans-serif;
}

a:active {
  text-decoration: none;
  color: rgb(94, 90, 89);
  background-color: white;
  border: 1px solid rgb(94, 90, 89);
  font-size: 16pt;
  font-family: Optima, "Century Gothic", "Arial Narrow", sans-serif;
}

/* IDs */
#links {
  text-align: center;
  margin-top: 30px;
}

#links a {
  margin: 0 20px 0;
}

#main-caption {
  text-align: left;
  font-size: 12pt;
  font-family: Optima, "Century Gothic", "Arial Narrow", sans-serif;
}

#main-title {
  text-align: left;
  font-size: 48pt;
  font-family: Optima, "Century Gothic", "Arial Narrow", sans-serif;
}

#wrapper {
  background-color: rgba(34, 30, 29, 0.75);
  border: 1px solid white;
  max-width: 600px;
  float: right;
  position: absolute;
  top: 30%;
  right: 5%;
  margin-left: 5%;
  padding: 0 10px 15px 10px;
}

/* Classes */
