/* Generic elements */
body {
  background-image: url('../img/brushed_@2X.png');
}

footer {
  margin: 0 auto;
  text-align: center;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

/* IDs */

#top-vid {
  max-width: 720px;
}

/* Classes */
.image {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.image-caption {
  margin-top: 5px;
  font-style: italic;
}

.image-right {
  float: right;
  margin-left: 20px;
}

.page-header {
  text-align: center;
  border-bottom: none;
  margin-bottom: 5px;
}

.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rule {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
}
