/* Generic elements */
body {
  background-image: url('../img/brushed_@2x.png');
}

footer {
  margin: 0 auto;
  text-align: center;
}

/* IDs */

/* Classes */
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
}

.image-caption {
  margin-top: 5px;
  font-style: italic;
}

.page-header {
  text-align: center;
  border-bottom: none;
  margin-bottom: 5px;
}

.rule {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.wrapper {
  margin-left: 10px;
}
